@model LoanManagementSystem.Models.LoanApplication

@{
    ViewBag.Title = "AddCollateral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Collateral Documents</h2>
<hr />

@using (Html.BeginForm("AddCollateral", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @ViewBag.Message

        <div class="text-danger" id="errorMessage" style="display:none;">
            <p>Please submit all documents</p>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.ApplicationId)

        <div class="form-group my-2">
            <label style="width:200px" for="file">Select Vehicle Document:</label>
            <input type="file" name="files" id="vehicledoc" accept="image/*" required />
            <div>
                <span class="text-danger" id="vehicleError" style="display:none;">Please upload a valid Vehicle document (JPEG/PNG).</span>
            </div>
        </div>
        <div class="my-2">
            <label style="width:200px" for="file">Select House Document:</label>
            <input type="file" name="files" id="housedoc" required accept="image/*" />
            <div>
                <span class="text-danger" id="houseError" style="display:none;">Please upload a valid House document (JPEG/PNG).</span>
            </div>
        </div>
        <div class="my-2">
            <label style="width:200px" for="file">Select Shares Document:</label>
            <input type="file" name="files" id="sharedoc" required accept="image/*" />
            <div>
                <span class="text-danger" id="shareError" style="display:none;">Please upload a valid Share Certificate (JPEG/PNG).</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary my-2" style="width:100px" id="validateBtn" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger", style = "width:100px" })
            </div>
        </div>
    </div>
}

<script>
    $("#validateBtn").click(() => {
        if ($("#vehicledoc").val() === "" ||
            $("#sharedoc").val() === "" ||
            $("#housedoc").val() === "") {
            alert("Please add all images!");
            return;
        }
        if (!$("form").valid()) {

            return;
        }
    })


    $(document).ready(function () {
        var allowedExtensions = ["jpg", "jpeg", "png"];
        function validateFileInput(inputElement, errorElement) {
            var hasInvalidFiles = false;

            $.each(inputElement[0].files, function (index, file) {
                var fileExtension = file.name.split('.').pop().toLowerCase();
                // Check if the file extension is valid
                if (!allowedExtensions.includes(fileExtension)) {
                    hasInvalidFiles = true;
                }
            });

            // Show or hide the error message based on validation
            if (hasInvalidFiles) {
                inputElement.val(""); // Clear the input
                $(errorElement).show(); // Show error message
            } else {
                $(errorElement).hide(); // Hide error message if valid
            }
        }

        $("#vehicledoc").change(function () {
            validateFileInput($(this), "#vehicleError");
        });

        $("#housedoc").change(function () {
            validateFileInput($(this), "#houseError");
        });

        $("#sharedoc").change(function () {
            validateFileInput($(this), "#shareError");
        });
    });</script>