@model LoanManagementSystem.Models.LoanApplication

@{
    ViewBag.Title = "AddCollateral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Collateral Documents</h2>
<hr />

@using (Html.BeginForm("AddCollateral", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @ViewBag.Message

        <div class="text-danger" id="errorMessage" style="display:none;">
            <p>Please submit all documents</p>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.ApplicationId)

        <div class="form-group my-2">
            <label style="width:200px" for="file">Select Vehicle Document:</label>
            <input type="file" name="files" id="vehicledoc" required />
            
        </div>
        <div class="my-2">
            <label style="width:200px" for="file">Select House Document:</label>
            <input type="file" name="files" id="housedoc" required />

        </div>
        <div class="my-2">
            <label style="width:200px" for="file">Select Shares Document:</label>
            <input type="file" name="files" id="sharesdoc" required />

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary my-2" style="width:100px" id="validateBtn" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger", style = "width:100px" })
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#validateBtn").click(function () {

            var files = $("#collateralForm input[type='file']");
            var valid = false;

            // Check if each file input has a file selected
            files.each(function () {
                if ($(this).get(0).files.length !== 0) {
                    valid = true; // Set valid to false if any file input is empty
                    $("#errorMessage").append("<p>Please select a file for " + $(this).attr("id") + ".</p>");
                }
            });
            console.log(valid)
            // Show or hide error messages based on validation result
            if (valid) {
                $("#errorMessage").hide();
                alert("All files are valid!");
                $("#collateralForm").submit();
            } else {
                $("#errorMessage").show();
            }
        });
    });</script>