@model IEnumerable<LoanManagementSystem.Models.LoanApplication>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:@(Model.Count() == 0 ? "" : "none")">
    <h1 class="my-2">You have no Loan Applications</h1>
    @Html.ActionLink("Apply Now!", "schemes")
</div>
<div style="display:@(Model.Count() == 0 ? "none" : "")">
    <h1 class="my-2">My Loans</h1>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Scheme.SchemeName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Scheme.SchemeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicant.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenure)
            </th>
            <th>@Html.DisplayNameFor(m => m.Status)</th>
            <th>Options</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Scheme.SchemeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Scheme.SchemeType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Applicant.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>
                @if (item.Status == LoanManagementSystem.Models.ApplicationStatus.LoanRepayment)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentStartDate)
                    </td>
                }
                else
                {
                    <td>N/A</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.LoanAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tenure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @if (item.Status == LoanManagementSystem.Models.ApplicationStatus.LoanRepayment)
                {
                    <td>
                        <button class="btn btn-primary">Pay Installments</button>
                    </td>
                }
                else if (item.Status == LoanManagementSystem.Models.ApplicationStatus.CollateralPending)
                {
                    <td>
                       @Html.ActionLink("Add Collateral Documents", "AddCollateral", "Customer", null,new {@class= "btn btn-primary"})
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }

    </table>
    <p>
        <span class="text-primary"> Want Another Loan? Get instant Approval!</span>
        @Html.ActionLink("Apply Now!", "schemes")
    </p>
</div>
