
@{
    ViewBag.Title = "ListSchemes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PagedList.IPagedList<LoanManagementSystem.Models.LoanScheme>

<div class="row">
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="col">
            @Html.Action("EMIcal", "Customer")
        </div>
        <div class="col" style="margin: 10px auto; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
            <h2 class="my-2">Available Loan Schemes</h2>

            <table class="table table-borderless table-striped" style="width:650px">
                <thead>
                    <tr>
                        <th>Scheme Name</th>
                        <th style="width:200px">Scheme Type</th>
                        <th>Go through it</th>
                        <th>Achive Your Dream!</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var scheme in Model)
                    {
                        <tr>
                            <th>@scheme.SchemeName</th>
                            <td>@scheme.SchemeType</td>
                            <td>
                                <button style="width: 120px; border: none; padding: 10px; color: white; background-color: #A6133C; border-radius: 20px; border-right-color: none;" class="btn btn-outline-primary" , onclick="showLongDescrip('@scheme.LoanSchemeId')">Know More</button>
                            </td>
                            <td>

                                @Html.ActionLink("Apply Now!", "ApplyLoan", new { id = @scheme.LoanSchemeId }, new { @class = "btn btn-outline-primary mx-3", style = "width: 120px;\r\nborder: none;\r\npadding: 10px;\r\ncolor: white;\r\nbackground-color: #A6133C;\r\nborder-radius: 20px;\r\nborder-right-color: none;" })
                            </td>

                        </tr>

                        <tr id="@scheme.LoanSchemeId" style="display:none">
                            <td colspan="8">@scheme.LongDescription</td>
                            <td></td>
                        </tr>

                    }
                </tbody>
            </table>


            <div class="demo">
                <nav class="pagination-outer" aria-label="Page navigation">
                    <ul class="pagination">
                        @if (Model.HasPreviousPage)
                        {
                            <li class="page-item">
                                <a href="@Url.Action("Schemes", new { i = Model.PageNumber - 1 })" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled-button">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                        }

                        @for (var i = 1; i <= Model.PageCount; i++)
                        {
                            if (i == Model.PageNumber)
                            {
                                <li class="page-item active">
                                    <a class="page-link" href="#">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Schemes","Customer", new { i = i })">@i</a>
                                </li>
                            }
                        }

                        @if (Model.HasNextPage)
                        {
                            <li class="page-item">
                                <a href="@Url.Action("Schemes", new { i = Model.PageNumber + 1 })" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled-button">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>

        </div>
    }
    else
    {
        <div class="col" style="margin: 10px auto; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); ">
            <h2 class="my-2">Available Loan Schemes</h2>

            <table class="table table-borderless table-striped">
                <thead>
                    <tr>
                        <th>Scheme Name</th>
                        <th>Scheme Type</th>
                        <th> Short Description </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var scheme in Model)
                    {
                        <tr>
                            <th>@scheme.SchemeName</th>
                            <td>@scheme.SchemeType</td>
                            <td>@scheme.ShortDescription</td>
                            <td>
                                <button style="width: 120px; border: none; padding: 10px; color: white; background-color: #A6133C; border-radius: 20px; border-right-color: none;" class="btn btn-outline-primary" , onclick="showLongDescrip('@scheme.LoanSchemeId')">Know More</button>
                            </td>
                            <td>

                                @Html.ActionLink("Apply Now!", "ApplyLoan", new { id = @scheme.LoanSchemeId }, new { @class = "btn btn-outline-primary mx-3", style = "width: 120px;\r\nborder: none;\r\npadding: 10px;\r\ncolor: white;\r\nbackground-color: #A6133C;\r\nborder-radius: 20px;\r\nborder-right-color: none;" })
                            </td>

                        </tr>

                        <tr id="@scheme.LoanSchemeId" style="display:none">
                            <td colspan="8">@scheme.LongDescription</td>

                        </tr>
                    }
                </tbody>
            </table>


        </div>
    }

</div>



<script>
    function showLongDescrip(itemId) {
        $(`#${itemId}`).toggle(1000)
    }
</script>

<style>
    .pagination-outer {
        text-align: center;
    }

    .pagination {
        font-family: 'Poppins', sans-serif;
        display: inline-flex;
        position: relative;
    }

        .pagination li a.page-link {
            color: #A6232A;
            background: transparent;
            font-size: 17px;
            font-weight: 600;
            text-align: center;
            line-height: 36px;
            height: 35px;
            width: 35px;
            padding: 0;
            margin: 0 7px;
            border: none;
            border-radius: 5px;
            display: block;
            position: relative;
            z-index: 0;
            transition: all 0.1s ease 0s;
        }

        .pagination li:first-child a.page-link,
        .pagination li:last-child a.page-link {
            font-size: 30px;
            line-height: 33px;
        }

        .pagination li a.page-link:hover,
        .pagination li a.page-link:focus,
        .pagination li.active a.page-link:hover,
        .pagination li.active a.page-link {
            color: #fff;
            background: #A6232A;
        }

        .pagination li a.page-link:before,
        .pagination li a.page-link:after {
            content: '';
            border-radius: 5px;
            border: 2px solid #555;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            z-index: -1;
            transition: all 0.3s ease 0s;
        }

        .pagination li a.page-link:before {
            border-top-color: transparent;
            border-bottom-color: transparent;
        }

        .pagination li a.page-link:after {
            border-left-color: transparent;
            border-right-color: transparent;
        }

        .pagination li a.page-link:hover:before,
        .pagination li a.page-link:focus:before,
        .pagination li.active a.page-link:hover:before,
        .pagination li.active a.page-link:before {
            left: -4px;
            right: -4px;
        }

        .pagination li a.page-link:hover:after,
        .pagination li a.page-link:focus:after,
        .pagination li.active a.page-link:hover:after,
        .pagination li.active a.page-link:after {
            top: -4px;
            bottom: -4px;
        }

    @@media only screen and (max-width: 480px) {
        .pagination {
            font-size: 0;
            display: inline-block;
        }

            .pagination li {
                display: inline-block;
                vertical-align: top;
                margin: 0 0 15px;
            }
    }

    License Terms
    .disabled-button {
        pointer-events: none;
        opacity: 0.6;
        cursor: not-allowed;
    }
