<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
</head>
<body>
    <!-- Navbar Section -->
    <div class="navbar navbar-dark bg-black navbar-fixed-top" style="flex-direction: column; align-items: flex-start;">
        <!-- Bank Name Centered -->
        <div class="w-100 text-center">
            <div class="p-1 display-2 text-light">
                AKSYS LOANS
            </div>
        </div>
        <!-- Navbar options and login/logout button -->
        <div class="w-100 d-flex justify-content-between align-items-center">
            @if (IsSectionDefined("NavbarOptions"))
            {
                @RenderSection("NavbarOptions", required: false)
            }
            else
            {
                <div></div> <!-- Empty div to keep layout intact if no NavbarOptions are present -->
            }
            <div class="" style="margin-right: 20px; margin-top: 10px;">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "btn text-light" })
                }
                else
                {
                    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn text-light" })
                }
            </div>
        </div>
    </div>

    <!-- Body Content -->
    <div class="container body-content" style="margin-top: 10px;">
        <!-- Added margin-top to avoid content being under the navbar -->
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; AKSYS LOANS @DateTime.Now.Year </p>
        </footer>
    </div>
</body>
</html>