@model LoanManagementSystem.Models.LoanScheme
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>LoanScheme</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SchemeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SchemeName, new { htmlAttributes = new { @class = "form-control", id = "schemename" } })
                @Html.ValidationMessageFor(model => model.SchemeName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SchemeType, htmlAttributes: new { @class = "control-label col-md-2 my-1" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.SchemeType, new { id = "schemeenum" })
                @Html.ValidationMessageFor(model => model.SchemeType, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.InterestRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InterestRate, new { htmlAttributes = new { @class = "form-control", id = "interest" } })
                @Html.ValidationMessageFor(model => model.InterestRate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control", id = "ShortDescription" } })
                @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LongDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LongDescription, new { htmlAttributes = new { @class = "form-control", id = "LongDescription" } })
                @Html.ValidationMessageFor(model => model.LongDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="border: none; padding: 10px; color: white; background-color: #A6133C;width:100px; border-radius: 20px; border-right-color: none;" type="button" value="Create" class="btn btn-primary" id="btnCreate" />
                @Html.ActionLink("Back to List", "Index", null, new {@class="btn btn-danger my-2", style= "border-radius: 20px; border-right-color: none;border: none; padding: 10px; color: white;" })
            </div>
        </div>
    </div>
}



<script>

    $("#btnCreate").click(() => {
        if (!$("form").valid()) {
            return;
        }
        var scheme = {
            InterestRate: $("#interest").val(),
            SchemeName: $("#schemename").val(),
            SchemeType: $("#schemeenum").val(),
            LongDescription: $("#LongDescription").val(),
            ShortDescription: $("#ShortDescription").val()
        }

        console.log(scheme)

        $.ajax({
            url: "/admin/addscheme",
            type: "POST",
            data: scheme,
            success: (done) => {

                alert("Scheme Added successfully!")
                loadItems();
                $("form").submit()
                $("#addscheme").hide()
                $("#schemelist").show()
            },
            error: (err) => {
                console.log(err)
                alert("There was a error in adding the Scheme!")
            }

        })



    })

</script>
