

@{
    //ViewBag.Title = "LoanApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.ComponentModel.DataAnnotations
@using System.Reflection

@model IEnumerable<LoanManagementSystem.Models.LoanApplication>

@{
    ViewBag.Title = "Pending Collateral Approvals";
}
@functions {
    public string GetEnumDisplayName(Enum value)
    {
        var field = value.GetType().GetField(value.ToString());
        var attribute = field.GetCustomAttribute<DisplayAttribute>();
        return attribute != null ? attribute.GetName() : value.ToString();
    }
}



@if (Model.Count() == 0)
{
    <h1>No Documents to Approve</h1>
}
else
{

    <h2>Pending Collateral Approvals</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Applicant Name</th>
                <th>Scheme Name</th>
                <th>Loan Amount</th>
                <th>Tenure(int months)</th>
                <th>Applicant Age</th>
                <th>Status</th>
                <th>Documents</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loan in Model)
            {
                <tr>

                    <td>@loan.Applicant.User.FirstName</td>
                    <td>@loan.Scheme.SchemeName</td>
                    <td>@loan.LoanAmount</td>
                    <td>@loan.Tenure</td>
                    <td>@loan.Applicant.User.Age</td>

                    <td class="
@(loan.Status == LoanManagementSystem.Models.ApplicationStatus.LoanRepayment ? "status-active" ://
        loan.Status == LoanManagementSystem.Models.ApplicationStatus.CollateralPending ? "status-collateral" ://
        loan.Status == LoanManagementSystem.Models.ApplicationStatus.AddCollateral ? "status-collateral" ://
        loan.Status == LoanManagementSystem.Models.ApplicationStatus.LoanRepayment ? "status-repayment" :
        loan.Status == LoanManagementSystem.Models.ApplicationStatus.PendingApproval ? "status-pending" ://
        loan.Status == LoanManagementSystem.Models.ApplicationStatus.LoanClosed ? "status-active" ://
        loan.Status == LoanManagementSystem.Models.ApplicationStatus.NPA ? "status-reject" :
        loan.Status == LoanManagementSystem.Models.ApplicationStatus.Rejected ? "status-reject" : "")">
                        <button disabled>@GetEnumDisplayName(loan.Status)</button>

                    </td>
                    <td>
                        @Html.ActionLink("Verify", "GetCollateralDocuments", "LoanOfficer", new { id = loan.ApplicationId }, new { @class = "btn btn-success" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@Html.ActionLink("Back", "Welcome", "LoanOfficer", null, new { @class = "btn btn-primary", style = " width: 150px;\r\n border: none;\r\n padding: 10px;\r\n color: white;\r\n background-color: #A6133C;\r\n border-radius: 20px;\r\n border-right-color: none;" })



<style>
    table .status-active {
        padding: 10px;
    }

        table .status-active button {
            width: 150px;
            border: none;
            padding: 10px;
            color: white;
            background-color: green;
            border-radius: 20px;
            border-right-color: none;
        }

    table .status-collateral {
        padding: 10px;
    }

        table .status-collateral button {
            width: 150px;
            border: none;
            padding: 10px;
            color: black;
            background-color: #ffc107;
            border-radius: 20px;
            border-right-color: none;
        }

    table .status-repayment {
        padding: 10px;
    }

        table .status-repayment button {
            width: 150px;
            border: none;
            padding: 10px;
            color: white;
            background-color: green;
            border-radius: 20px;
            border-right-color: none;
        }

    table .status-pending {
        padding: 10px; /* Remove padding to fit the button height */
    }

        table .status-pending button {
            width: 150px;
            border: none;
            padding: 10px;
            color: black;
            background-color: #ffc107;
            border-radius: 20px;
            border-right-color: none;
        }

    table .status-reject {
        padding: 10px; /* Remove padding to fit the button height */
    }

        table .status-reject button {
            width: 150px;
            border: none;
            padding: 10px;
            color: white;
            background-color: #A6133C;
            border-radius: 20px;
            border-right-color: none;
        }
</style>
