

@{
    //ViewBag.Title = "LoanApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<LoanManagementSystem.Models.LoanApplication>

@{
    ViewBag.Title = "Pending Collateral Approvals";
}

<h2>Pending Collateral Approvals</h2>

<table class="table">
    <thead>
        <tr>
            <th>Loan ID</th>
            <th>Applicant Name</th>
            <th>Loan Amount</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loan in Model)
        {
            <tr>
                <td>@loan.ApplicationId</td>
                <td>@loan.Applicant.User.FirstName</td>
                <td>@loan.LoanAmount</td>
                <td>@loan.Status</td>
                <td>
                    @Html.ActionLink("Verify", "GetCollateralDocuments", "LoanOfficer", new { id = loan.ApplicationId }, new { @class = "btn btn-success" })
                    @*@Html.ActionLink("Approve", "ApproveCollateral", "LoanOfficer", new { id = loan.ApplicationId }, new { @class = "btn btn-success" })
        @Html.ActionLink("Reject", "RejectCollateral", "LoanOfficer", new { id = loan.ApplicationId }, new { @class = "btn btn-danger" })*@
                </td>
            </tr>
        }
    </tbody>
</table>




