@model IEnumerable<LoanManagementSystem.Models.RegistrationDocuments>

@{
    ViewBag.Title = "Get Loan Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = Model.ToList();
}

<h2>Get Loan Documents</h2>

<p>
    @Html.ActionLink("Approve", "ApproveLoan", new {id = list[0].Application.ApplicationId }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Reject", "RejectLoan", new { id=list[0].Application.ApplicationId }, new { @class = "btn btn-danger" })
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicId)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>

                <img src="@item.ImageUrl" alt="Uploaded Image" style="width:100px;height:100px;" />

                @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
            </td>
            <td>

                <a style="text-decoration:none; color:black" href="@Url.Action("ShowImage", "Customer", new { publicId = item.PublicId })">show image</a>


            </td>
            


        </tr>
    }

</table>



